{% extends "base.html" %}

{% block title%}Shortlink List{% endblock %}

{% block head %}
<style>
  table, th, td {
    border-collapse: collapse;
    border: 1px solid #333;
    font-family: mono;
    text-align: left;
  }

  th, td {
    padding: 5px;
  }
</style>
{% endblock %}

{% block content %}
<h1>Shortlinks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    {% for link in links %}
    <tr>
      <td>{{ link.name }}</td>
      <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
